.container{
    display: flex;
    height: 77vh;
    margin-top: 6rem;
    padding-top: 5rem;
    
  }
/* left side  */
  .a-left{
    display: flex;
    position: relative;
    /* flex: 1; */
    flex-direction: column;
  width: 45%;

  }
  .a-knowme{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    /* width: 40%; */
  }

  .a-knowme > :nth-child(1) {
    color: var(--black);
    font-weight: bold;
    font-size: 3rem;
    /* width: 40%; */

  }
  .a-knowme > :nth-child(2) {
    color: var(--orange);
    font-weight: bold;
    font-size: 3rem;
    /* width: 40%; */

  }
  .a-knowme > :nth-child(3) {
    font-weight: 100;
    font-size: 14px;
    color: var(--gray);
    margin-top: 10px;
    margin-right: 5rem;
    /* width: 40%; */
  }

  /* right side */
  
  .a-right{
    display:grid;
    grid-template-columns: repeat(2,2fr);
    /* -ms-flex-order: inherit; */
    gap: 14rem;
    margin-top: 2rem;
    margin-bottom: 20rem;
}

.blur {
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #edd0ff;
    filter: blur(212px);
    z-index: -9;
    top: -18%;
    left: 56%;
    filter: blur(72px);
  }